<div class="mask" *ngIf="showMaking">
  <div class="loader-container">
    <img src="/assets/images/loader.gif">
  </div>
</div>
<div class="container-fluid contact-form">
  <div class="row p-3">
    <div class="col-md-5 mx-auto">
      <form (ngSubmit)="f.form.valid && sendEmail(personalData)" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="name"><span class="required-field">*</span>Name</label>
          <input class="form-control" type="text" name="name" placeholder="First name Last name" [(ngModel)]="personalData.name" required [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" #name="ngModel">
          <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">Please enter your name</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email"><span class="required-field">*</span> Email 1</label>
          <input type="email" name="email" class="form-control" placeholder="example@example.com" [(ngModel)]="personalData.email" required [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" #email="ngModel" pattern="[^ @]*@[^ @]*">
          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Please enter your Email-ID</div>
            <div *ngIf="email.errors.pattern">Please enter valid Email-ID</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email2">Email 2</label>
          <input type="email" name="email2" class="form-control" placeholder="example@example.com" [(ngModel)]="personalData.email2" pattern="[^ @]*@[^ @]*">
        </div>
        <div class="form-group">
          <label for="contact"><span class="required-field">*</span>Contact Number</label>
          <input type="text" name="contact" class="form-control" placeholder="001-1234-567-890" [(ngModel)]="personalData.contact" required [ngClass]="{ 'is-invalid': f.submitted && contact.invalid }" #contact="ngModel">
          <div *ngIf="f.submitted && contact.invalid" class="invalid-feedback">
            <div *ngIf="contact.errors.required">Please enter your contact number</div>
          </div>
        </div>
        <div class="form-group">
          <label for="contact2">Contact Number 2</label>
          <input type="text" name="contact2" class="form-control" placeholder="001-1234-567-890" [(ngModel)]="personalData.contact2">
        </div>
        <div class="form-group">
          <label for="company"><span class="required-field">*</span>Company Name</label>
          <input type="text" name="company" class="form-control" [(ngModel)]="personalData.company" aria-describedby="ndaNote" >
          <small id="ndaNote" class="form-text text-muted">Your contact information will be highly confidential with us and will not be shared to anyone.</small>
        </div>
        <div *ngIf="f.submitted">
            <div *ngIf="f.form.invalid" style="font-size: 80%;color: #dc3545;">Please fill all required fields</div>
        </div>
        <div class="form-row text-center">
          <div class="col-12">
            <button type="button" (click)="backToPreviousStep()" class="btn btn-primary">Back</button>
            <button type="submit" class="btn btn-primary ml-2">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row p-3 footer">
    © 2018 Proccurate. All Right Reserved
  </div>
</div>
