<div class="container-fluid contact-form">
  <div class="row p-3">
    <div class="col-md-5 mx-auto">
      <form (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="materialSelect"><span class="required-field">*</span>Service</label>
          <select class="form-control" id="materialSelect" required [(ngModel)]="businessDetails.service" name="service" #service="ngModel" [ngClass]="{ 'is-invalid': f.submitted && service.invalid }">
            <option [ngValue]="null">Select Service</option>
            <option *ngFor="let service of services;let i = index;" [value]="service">{{service}}</option>
          </select>
          <input type="text" class="form-control mt-2" *ngIf="businessDetails.service == 'OTHERS (SPECIFY)'" [(ngModel)]="businessDetails.otherService" name="otherService" #otherService="ngModel" [ngClass]="{ 'is-invalid': f.submitted && otherService.invalid }" required>
          <div *ngIf="f.submitted && service.invalid " class="invalid-feedback">
            <div *ngIf="service.errors.required">Please select service</div>
          </div>
        </div>
        <div class="form-group">
          <label for="processSelect">Process</label>
          <select class="form-control" id="processSelect" [(ngModel)]="businessDetails.process" name="process" (ngModelChange)="clearFilter($event)">
            <option [ngValue]="null">Select Process</option>
            <option *ngFor="let process of processes" [value]="process">{{process}}</option>
          </select>
          <input type="text" class="form-control mt-2" *ngIf="businessDetails.process == 'OTHERS (SPECIFY)'" [(ngModel)]="businessDetails.otherProcess" name="otherProcess">
        </div>
        <div class="form-group">
          <label for="processSelect">Commodity</label>
          <select class="form-control" id="commoditySelect" [(ngModel)]="businessDetails.commodity" name="commodity">
            <option [ngValue]="null">Select Commodity</option>
            <option *ngFor="let commodity of commodities" [value]="commodity">{{commodity}}</option>
          </select>
          <input type="text" class="form-control mt-2" *ngIf="businessDetails.commodity == 'OTHERS (SPECIFY)'" [(ngModel)]="businessDetails.otherCommodity" name="otherCommodity">
        </div>
        <div class="form-group">
          <label for="processSelect">Industry</label>
          <select class="form-control" id="industrySelect" [(ngModel)]="businessDetails.industry" name="industry">
            <option [ngValue]="null">Select Industry</option>
            <option *ngFor="let industry of industries" [value]="industry">{{industry}}</option>
          </select>
          <input type="text" class="form-control mt-2" *ngIf="businessDetails.industry == 'OTHERS (SPECIFY)'" [(ngModel)]="businessDetails.otherIndustry" name="otherIndustry">
        </div>
        <div class="form-group">
          <label for="avatar">Upload File</label>
          <input type="file" class="ml-2" id="avatar" (change)="onFileChange($event)" #fileInput aria-describedby="ndaNote">
          <small id="ndaNote" class="form-text text-muted">Ex. Drawings, RFQ, RFI, Company profile, Presentation etc.</small>
        </div>

        <div class="form-group">
          <label for="processSelect">Comments</label>
          <textarea class="form-control" rows="5" id="comment" [(ngModel)]="businessDetails.comment" name="comment"></textarea>
        </div>
        <div *ngIf="f.submitted">
            <div *ngIf="f.form.invalid" style="font-size: 80%;color: #dc3545;">Please fill all required fields</div>
        </div>
        <div class="form-row text-center">
          <div class="col-12">
            <button type="submit" class="btn btn-primary float-center">Next</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid footer">
  <div class="row p-3">
      <div class="col-md-5">
       © 2018 Proccurate. All Right Reserved
      </div>
     <div class="col-md-7">
      Proccurate Innovative,<br>
      Office 4-7, Liberty Plaza,<br>
      Himayat Nagar Rd,<br>
      Gagan Mahal, Domalguda,<br>
      Himayatnagar,<br>
      Hyderabad, Telangana 500029<br>
      Email: global@proccurate.com
     </div>
  </div>
</div>
