<div class="container">
  <div class="row p-3">
    <div class="col-md-8">
      <form (ngSubmit)="f.form.valid && sendEmail(personalData)" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="name"><span class="required-field">*</span>Name</label>
          <input class="form-control" type="text" name="name" placeholder="Your Name" [(ngModel)]="personalData.name" required [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" #name="ngModel">
          <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">Plese enter your name</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email"><span class="required-field">*</span> Email 1</label>
          <input type="text" name="email" class="form-control" placeholder="Your Email" [(ngModel)]="personalData.email" aria-describedby="emailHelp" required [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" #email="ngModel">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Plese enter your Email-ID</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email 2</label>
          <input type="text" name="email" class="form-control" placeholder="Your Email" [(ngModel)]="personalData.email" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="contact"><span class="required-field">*</span>Contact Number</label>
          <input type="text" name="contact" class="form-control" placeholder="Your Contact NO." [(ngModel)]="personalData.contact" aria-describedby="contactHelp" required [ngClass]="{ 'is-invalid': f.submitted && contact.invalid }" #contact="ngModel">
          <small id="contactHelp" class="form-text text-muted">We'll never share your contact with anyone else.</small>
          <div *ngIf="f.submitted && contact.invalid" class="invalid-feedback">
            <div *ngIf="contact.errors.required">Plese enter your contact number</div>
          </div>
        </div>
        <div class="form-group">
          <label for="contact2">Contact Number 2</label>
          <input type="text" name="contact2" class="form-control" placeholder="Your Contact NO." [(ngModel)]="personalData.contact2" aria-describedby="contactHelp">
          <small id="contactHelp" class="form-text text-muted">We'll never share your contact with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="company"><span class="required-field">*</span>Company Name</label>
          <input type="text" name="company" class="form-control" [(ngModel)]="personalData.company">
        </div>
        <div class="form-row text-center">
          <div class="col-12">
            <button type="button" (click)="backToPreviousStep()" class="btn btn-primary">Back</button>
            <button type="submit" class="btn btn-primary ml-2">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
