body{
	padding-top: 55px;
}

form{
	padding-top: 10px;
}

.required-field {
	color:red;
}

.title-strips{
	background-color: gray;
	color: white;
	height: 45px;
}

.manufacturing-title-strips{
	background-color: gray;
	color: white;
	height: 45px;
}

ul {
  list-style: none;
}