body{
	padding-top: 55px;
	font-family: "Open Sans", sans-serif;
	    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    /*color: #8E939F;*/
    -webkit-font-smoothing: antialiased;
}

form{
	padding-top: 10px;
}

.required-field {
	color:red;
}

.title-strips{
    color: black;
    color: #25c57d;
    height: 45px;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    margin: auto 0;
    display: inline;
    padding: 0;
}

.title{
	background-color: white;
    width: auto;
    display: inline;
    text-decoration: underline;
    text-decoration-color: #000033;
    text-underline-position: under;
}

.mask{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color:rgba(0,0,0,0.7);
	z-index: 1;
}

.manufacturing-title-strips{
	background-color: gray;
	color: white;
	height: 45px;
}

ul {
  list-style: none;
  padding: 0px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}


.contact-form {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/images/form_bck.jpg);
    color: white;
}

.footer{
	background-color: #191f2f;
	color: #8E939F;
}

.loader-img{
	 background-image: url(/assets/images/loader.gif);
}

.loader-container{
	color: black;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    margin: auto 0;
    top: 47%;
    display: inherit;
    position: absolute;
}

.orange-btn {
	color: #fe6500;
    border-color: #fe6500;
}

.orange-btn:hover {
    color: #ffffff;
    background-color: #fe6500;
    border-color: #fe6500;
}

.form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}