<div id="home" class="home" #home>
  <div class="container-fluid">
    <div class="row p-3">
      <div class="world-map col-md-8">
      </div>
      <div class="col-md-4 align-hero-baner-text">
        <div class="row justify-content-center tagline">
          <h3><i>Destination for high quality precision engineered components</i></h3>
          <!-- <h1>Destination for High quality precision engineered components</h1> -->
        </div>
        <div class="row justify-content-center mt-2">
          <h2>Connect with us</h2>
        </div>
        <div class="row justify-content-center who-are-you">

          <button class="btn btn-outline-warning btn-lg orange-btn mr-3" [routerLink]="['/first-step']">I am Seller</button>
          <button class=" btn btn-outline-success btn-lg" [routerLink]="['/first-step']">I am Buyer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- </div>	 -->
  <div class="container">
    <div class="row p-3">
      <div class="col-md-4">
        <div class="ml-1 mb-2 mr-1">
          <div class="img" style="background-image: url('/assets/images/prt_cost_reduction.jpg');">
            <div class="img-header">
              <h4>Cost Reduction</h4></div>
            <div class="img-footer">We help our customers to reduce their direct & Indirect procurement costs involved in overseas procurement. We offer cost reduction opportunities by identifying cost competitive sources & accessing them with the help of our localised workforce.</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ml-1 mb-2 mr-1">
          <div class="img" style="background-image: url('/assets/images/prt_quality.jpg');">
            <div class="img-header">
              <h4>Quality Improvement</h4>
            </div>
            <div class="img-footer">We focus on continuous quality improvement by closely monitoring each stage of the manufacturing process & carrying out in process inspections . We also take the complete responsibility of the products quality up to the customers acceptance. </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ml-1 mb-2 mr-1">
          <div class="img" style="background-image: url('/assets/images/prt_logistics.png');">
            <div class="img-header">
              <h4>On Time Delivery</h4></div>
            <div class="img-footer">We handle entire domestic supply chain activities from manufacturer to shipping. All domestic transportations are carried out by our approved logistics and our own warehousing facilities. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------- SERVICES ------------------------->
<div class="container">
  <div id="services" class="services">
    <div style="position: relative; height: 50px;">
      <div class="col-md-12 title-strips text-center" style="position: absolute;">
      	<h3 class="title">Services</h3>
      </div>
    </div>
    <div class="row p-1">
      <ul>
        <li class="col-md-4 float-left text-center" *ngFor="let service of serviceArray; let i = index">{{service}}</li>
      </ul>
    </div>
  </div>
  <!-------------------------  INDUSTRIES ------------------------->
  <div class="industries" id="industries">
    <div style="position: relative; height: 50px;">
      <div class="col-md-12 title-strips text-center" style="position: absolute;">
        <h3 class="title">Industries</h3>
      </div>
    </div>
    <div class="row h-100">
      <div class="col-6 col-md-2 p-2 text-cards d-table" *ngFor="let industry of industriesArray; let i = index">
         <div class="h-100 text-cards text-center card card-block d-table-cell align-middle">
         	
      	<img src="{{getIndustryIcon(i)}}" style="max-width: 50px;">
         	<h6>{{industry}}</h6>
         </div>
      </div>
    </div>
  </div>

  <!-- Manifacturing process -->
  <div class="industries" id="manifacturingProcess">
    <div style="position: relative; height: 50px;">
      <div class="col-md-12 title-strips text-center" style="position: absolute;">
        <h3 class="title">Manufacturing Processes</h3>
      </div>
    </div>
    <div class="row h-100">
     <div class="manufacturing-process-img"></div>
    </div>
     <div class="row p-1">
      <ul>
        <li class="col-md-4 float-left text-center" *ngFor="let manufacturingProcess of manufacturingProcessArray; let i = index">{{manufacturingProcess}}</li>
      </ul>
    </div>
  </div>
	
  <!-- ABOUT US -->
  <div class="aboutus" id="aboutus">
      <div style="position: relative; height: 50px;">
      <div class="col-md-12 title-strips text-center" style="position: absolute;">
        <h3 class="title">About</h3>
      </div>
    </div>
    <div class="row p-2 h-100">
      <p>Proccurate innovative is a professional and experienced company with a focus on price reductions, quality improvements and timely deliveries. We provide services which include designing, prototyping, manufacturing & logistics at lower costs.</p>
      <p>If your company procures direct and indirect goods and services in large quantities, India procurement could be the right option for you. We are specialized services which work towards long-term relationships focused on sustainable value creation. We offer end-to-end high-quality procurement services which deliver measurable value and ensure that you access the best suppliers, reduce lead time and costs while procuring from India. What your company needs is the ground-level experience and the right tools to help put innovative sourcing ideas to work and finally deliver results. Only a specialist service like Proccurate can ensure that your strategy is translated into action.</p>
      <p>Do you want to save the time you currently spend on purchasing? Outsourcing your procurement to India will let you concentrate on your core business activities. Proccurate innovative will help you improve every aspect of your procurement activity and literally transform the way you import from India. From strategic sourcing, supply chain management to supplier relationship management, our team will work towards achieving sustainable cost reduction for your business. You will be able to take advantage of value improvement as well because we will help you obtain products and services from the best suppliers in the country. From an in-depth market study, supplier due diligence to bespoke sourcing services, the experienced procurement team will help you with the best, cost-effective solutions for your business.</p>
      <p>You can consider Proccurate as India procurement partner to help you locate & develop the best in class manufacturing services in India. </p>
    </div>
  </div>
  <div>
  </div>	
</div>
<div class="container-fluid footer">
  <div class="row p-3">
      <div class="col-md-5">
       © 2018 Proccurate. All Right Reserved
      </div>
     <div class="col-md-7">
      Proccurate Innovative,<br>
      Office 4-7, Liberty Plaza,<br>
      Himayat Nagar Rd,<br>
      Gagan Mahal, Domalguda,<br>
      Himayatnagar,<br>
      Hyderabad, Telangana 500029<br>
      Email: global@proccurate.com
     </div>
  </div>
</div>
